.btn {
  width: 220px;
  height: 55px;
  background: #bdae82;

  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000;

  &:hover {
    transition: 0.3s;
    color: rgb(255, 255, 255);
  }

  &:not(hover) {
    transition: 0.3s;
    color: rgb(0, 0, 0);
  }
}

.btn--link {
  width: 220px;
  height: 55px;
  background: #bdae82;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 40px;

    &:hover {
      transition: 0.3s;
      color: rgb(255, 255, 255);
    }

    &:not(hover) {
      transition: 0.3s;
      color: rgb(0, 0, 0);
    }
  }
}
