.btn {
  width: 220px;
  height: 55px;
  background: #bdae82;

  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000;
  border: none;
  transition: 0.3s;

  &:hover {
    color: rgb(255, 255, 255);
  }
}

.btn--link {
  width: 220px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  background: #bdae82;
  color: rgb(0, 0, 0);
  border: none;

  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 40px;
  transition: 0.3s;

    &:hover {
      color: rgb(255, 255, 255);
    }
}

