.price__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 100px;
    justify-content: center;

    .price__item {
        padding-top: 40px;
        width: 450px;
        height: 505px;
        border: 3px solid #BDAE82;

        .btn--link {
            margin: 0 auto;
        }

        .price__plan {
            margin-bottom: 20px;

            font-family: 'Merriweather', serif;
            font-weight: bold;
            font-size: 28px;
            line-height: 56px;
            text-align: center;
        }

        .price__coast {
            margin-bottom: 20px;

            font-family: 'Merriweather', serif;
            font-weight: bold;
            font-size: 24px;
            line-height: 48px;
            text-align: center;
            color: #BDAE82;
        }

        .price__description {
            margin-bottom: 40px;

            font-family: 'Inter', sans-serif;
            font-size: 18px;
            line-height: 36px;
            text-align: center;
        }
    }
}