.wrap { 
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.section {
    padding-top: 100px;
}

.section__title {
    position: relative;
    margin-bottom: 60px;
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;

    &::before {
        display: block;
        position: absolute;
        width: 300px;
        height: 2px;
        position: absolute;
        right: 55%;
        top: 39px;
        content: '';
        background: #BDAE82;
    }

    &::after {
        display: block;
        position: absolute;
        width: 300px;
        height: 2px;
        position: absolute;
        left: 55%;
        top: 39px;
        content: '';
        background: #BDAE82;
    }
}



.skills__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // padding-left: 20px;
    // padding-right: 35px;

    .skills__item {
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;


        .skills__icon {
            width: 62px;
            height: 50px;
            margin-bottom: 60px;
        }

        .skills__icon--camera {
            background: url(../../img/icons/camera_icon.svg) no-repeat center;
        }

        .skills__icon--video {
            background: url(../../img/icons/video_icon.svg) no-repeat center;
        }

        .skills__icon--retouch {
            background: url(../../img/icons/image_icon.svg) no-repeat center;
        }

        .skills__icon--mic {
            background: url(../../img/icons/mic_icon.svg) no-repeat center;
        }

        .skills__subtitle {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 32px;
        }

        .skills__description {
            text-align: center;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
        }
    }
}

.section--skills {
    margin-bottom: 8px;
}