.video-player{
    height: 705px;
    background: url(../../img/backgrounds/video-player.jpg) no-repeat center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__play {
        width: 130px;
        height: 130px;
        border: none;
        background: url(../../img/icons/play_icon.svg) no-repeat center;
        transition: 0.3s;

        &:hover {
            filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
            contrast(87%);
        }
    }
}